// Define variables for your color scheme

// For example:

$black: #21212F;
$dark-gray: #262837;
$light-gray: #AEAEC6;
$gray: #2C2C3F;
$orange: #FFA500;
$green: #06FE87;
$red: #FE0606;

// effet gradient sur les btns : linear-gradient(91.3deg, #FFA500 0%, #FF7300 94.2%);
