// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
// Define fonts for body and headers


// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Druk";
  src: font-url('Druk-Medium.woff') format('woff'),
}
$druk: "Druk";

$body-font: "Inter", "Helvetica", "sans-serif";
$headers-font: "Druk", "Helvetica", "sans-serif";
