.container-chat {
  padding: 32px;
  height: 70vh;
  width: 100%;
  overflow-y: scroll;
  position: relative;

  form {
    margin-top: 16px;

    input {
      padding: 16px 24px;
      border-radius: 16px;
      background: $light-gray;
      flex-grow: 1;
    }
  }

  .bottom-messages {
    position: relative;
    width: 100%;

    .btn-secondary {
      position: absolute;
      top: -6px;
      right: 1px;
      color:$orange;
      padding: 4px 14px;
    }
  }

  .container-message-current-user {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 5px;

    .author {
      color: rgba(104, 104, 104, 0.712);
      font-size: 11px;
      margin-right: 5px;
    }

    .content-message {
      min-width: 10%;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .img-user {
        min-height: 30px;
        min-width: 30px;
        max-height: 30px;
        max-width: 30px;
        margin-left: 10px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }


      .message-wrapper{
        width:100%;
        background: #ca8400;
        border-radius: 16px;
        padding: 8px 16px;
        color: white;
        margin: 0;
        overflow-wrap: anywhere;
      }
    }
  }

  .container-message-other-user {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .author {
      color: rgba(104, 104, 104, 0.712);
      font-size: 11px;
      margin-left: 5px;
    }

    .content-message {
      min-width: 10%;
      display: flex;
      justify-content: center;
      align-items: flex-start;


      .img-user {
         min-height: 30px;
        min-width: 30px;
        max-height: 30px;
        max-width: 30px;
        margin-right: 10px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      .message-wrapper {
        width:100%;
        background: $dark-gray;
        border-radius: 16px;
        padding: 8px 16px;
        color: white;
        margin: 0;
        overflow-wrap: anywhere;
      }
    }
  }
}
