.container-dash {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: auto;

  .container-dashboard {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray;

    h1 {
      color: white;
      font-family: $druk;
    }
  }

  .dashboard {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;

    .welcome {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;

      h3 {
        margin: 0;
        align-self: center;
        color: $light-gray;
        letter-spacing: 1px;
      }
    }


    .rang {
      height: auto;
      width: 100%;
      margin: 4px 0;
      border-radius: 16px;
      background-color: $gray;
      padding: 8px;
    }

    .title-box {
      margin: 0;
      color: $light-gray;
    }

    .first-rang {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      color: $dark;
      background-color: $orange;
      box-shadow: $shiny-shadow;
      box-shadow: $orange 0px 1px 2px 0px, $orange 0px 2px 6px 2px;


      .top-container-nextmatch {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .first_player, .second_player {
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;

          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 3px solid $dark;
            object-fit: cover;
            object-position: center;
          }

          p {
            font-size: 12px;
            margin-top: 10px;
          }
        }

         .versus {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0;
          color: $dark;

          p {
            margin: 0;
          }

          h1 {
            margin: 0;
            font-size: 4rem;
            -webkit-text-stroke: 2px $dark;
            color: transparent;
            line-height: 1;
          }
        }
      }

      .bottom-container-date-time {
        border-radius: 16px;
        width: 100%;
        padding: 8px;
        background-color: $dark;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .date-time {
          width: 100%;
          border: 0.10px solid $light-gray;
          border-radius: 8px;
          margin-bottom: 4px;
          padding: 8px;

          p {
            margin: 0;
            font-family: $druk;
            letter-spacing: 2px;
            font-family: 32px;
          }

          .date-of-next-match {
            font-size: 2rem;
            color: $orange;
            line-height: 1;
          }
        }

        .bet-now {
          margin-top: 4px;
          width: 100%;
          color: $dark;
          background-color: $orange;
          box-shadow: $shiny-shadow;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          font-family: $druk;
          letter-spacing: 1px;
          font-size: 2rem;
        }
      }
    }

    .futur-matchs {
      height: auto;
      display: flex;
      overflow-x: auto;
      margin: 8px auto;

      .box-match {
        height: 160px;
        min-width: 110px;
        background-color: $gray;
        border: 0.16px solid white;
        margin: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
        padding: 4px;

        .box-info {
          height: calc(100% / 3);
          width: 100%;
          margin: 2px 0;
        }

        .match-date  {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            color: white;
            font-size: 10px;
          }
        }

        .match-avatar {
          display: flex;
          justify-content: space-around;
          align-items: center;

          img {
            border-radius: 50%;
            object-position: center;
            object-fit: cover;
          }

          .box-versus {

            .vs {
              margin: 0;
              letter-spacing: 1px;
              color: white;
            }
          }
        }
      }
    }


    .second-rang, .third-rang  {
      background-color: $dark;
      width: 49%;
    }

    .second-rang {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .left-info-second-rang {
        display: flex;
        justify-content: start;
        align-items: center;

        h1 {
          font-size: 5rem;
          color: white;
          margin: 0;
          position: relative;
          letter-spacing: 2px;

          span {
            font-size: 32px;
            position: absolute;
            top: 8px;
          }
        }
      }

      .info-second-rang {
        padding: 4px;
        height: 100%;
        width: 49%;
      }
    }

    .third-rang {

    }
  }
}
