.container-dash {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: auto;

  .title {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray;

    h1 {
      color: white;
      font-family: $druk;
    }
  }

  .dashboard {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;

    .welcome {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;

      h3 {
        margin: 0;
        align-self: center;
        color: $light-gray;
        letter-spacing: 1px;
      }
    }


    .rang {
      height: auto;
      width: 100%;
      margin: 8px 0;
      border-radius: 16px;
      background-color: $gray;
      padding: 8px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .title-box {
      margin: 0;
      color: $light-gray;
    }

    .first-rang {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      color: $dark;
      margin-bottom: 120px;









      .top-container-nextmatch {
        width: 100%;
        height: 40vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $black;
        border-radius: 16px 16px 0 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        .first_player, .second_player {
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;

          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 3px solid white;
            object-fit: cover;
            object-position: center;
          }

          p {
            font-size: 12px;
            margin-top: 10px;
          }
        }

         .versus {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0;
          color: $dark;
          border-radius: 50%;
          background-color: $dark;
          height: 150px;
          width: 150px;

          .versus-round {

            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: $black;

            p {
              margin: 0;
              color: $orange;
            }

            h1 {
              margin: 0;
              font-size: 4rem;
              -webkit-text-stroke: 2px $orange;
              color: transparent;
              line-height: 1;
            }
          }
        }
      }






















      .bottom-container-date-time {
        border-radius: 0 0 16px 16px;
        width: 100%;
        padding: 8px;
        height: auto;
        box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.11), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: $black;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .date-time {
          width: 100%;
          border-radius: 8px;
          margin-bottom: 4px;
          padding: 8px;

          p {
            margin: 0;
            font-family: $druk;
            letter-spacing: 2px;
            font-family: 32px;
          }

          .date-of-next-match {
            font-size: 2rem;
            color: $orange;
            line-height: 1;
            opacity:0;
          }
        }

        .bet-now {
          margin-top: 4px;
          width: 100%;
          color: $dark;
          background-color: $orange;
          box-shadow: $shiny-shadow;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          font-family: $druk;
          letter-spacing: 1px;
          font-size: 2rem;
        }
      }
    }

    .futur-matchs {
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      overflow-x: auto;
      margin: 8px auto;
    }

    .second-rang {
      height: 50vh;
      margin-bottom: 120px;
    }
  }
}
