// Specific CSS for your home-page
body{
  color: white;
}
.container_home {
  width: 100%;
  margin: 0 auto;
  text-align:center;
  background-color: $black;
  min-height: 100vh;
}

h1{
  text-align: center;
  padding: 20px;
  font-size: 3rem;
}
.whiteline{
  border: $light-gray 2px;
}
.match_date{
  text-align: center;
  margin: 0;
  padding: 0;
}
.match_VS{
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
.match_hour{
  text-align: center;
  margin: 0;
  padding: 0;
}
.users_match{
  height: 15%;
  background-color: $dark-gray;
  border: white 10px;
  border-radius: 0 0 60px 60px;
  border-top:1px solid white;
  z-index: 100;
  position:sticky;
}
.logos_vs{
  display: flex;
  justify-content: space-around;

}
.team_photos{
  display: flex;
  margin-top:-60px;
}
.team1_photo{
  background-color: purple;
  width: 50%;
  height:340px;
}
.team2_photo{
  background-color: lightcoral;
  width: 50%;
  height:340px;
}
.team_stats{
  border-radius: 60px 60px 0 0;
  display: flex;
}
.team1_stats{
  width: 325px;
  text-align: center;
}
.team2_stats{
  width: 325px;
  text-align: center;
}
.win_loses{
  background-color: $dark-gray;
  height: 30px;
  width: 60%;
  justify-content: center;
}
.team_rank{
  background-color: $dark-gray;
  height: 30px;
  width: 60%;
  justify-content: center;
}
.team_total_score{
  background-color: $dark-gray;
  width: 60%;
  height: 30px;
  justify-content: center;
}
