.container-home {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-y: hidden;

  .container-league-home {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray;

    h1 {
      color: white;
      font-family: $druk;
    }
  }

  .affiche {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .container-info_match {
      background-color: $black;
      border-radius: 0 0 50px 50px;
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center;


      .first_player {
        height: 100%;
        width: 75px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: relative;

        .crown {
          position: absolute;
          top: 13%;
          left: 0;
        }

        .photo-user {
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          border: 4px solid white;
        }
      }

      .versus {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;

        p {
          margin: 0;
          color: white;
        }

        h1 {
          margin: 0;
          font-size: 5rem;
          -webkit-text-stroke: 0.5px rgb(255, 255, 255);
          color: transparent;
          line-height: 1;
        }
      }

      .second_player {
        height: 75px;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        .crown {
          position: absolute;
          top: -30%;
          left: 0;
        }

        .photo-user {
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          border: 4px solid white;
        }
      }
    }

    .container-nba {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -45px;
      z-index: -10;

      .left-star-player {
        height: 100%;
        width: 50%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        background-size:contain;
        background-position:center;
        background-repeat:no-repeat;

        .logo-image {
          position: absolute;
          top: 0;
          transform: translate(0%, 40%);

          img {
            //margin-top:-100px;
            width: 100%;
            opacity:.3;
          }
        }

        .name_of_team {
          //height: 40%;
          width: 100%;
          position: absolute;
          top: 15%;
          z-index: 99999999999999999999;

          p {
            font-style: normal;
            font-weight: bold;
            font-size: 3rem;
            font-family: $druk;
            letter-spacing: 2px;
            text-transform: uppercase;
            line-height: 40px;
            margin-right: 4px;
            z-index: 100;
            text-shadow: $black 1px 0 10px;
            color: white;
            text-align: center;
          }
        }

        .player_one_pick {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10000;
          margin-top: -192px;
          transform:scale(1.2);
        }
      }

      .right-star-player {
        height: 100%;
        width: 50%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        background-size:contain;
        background-position:center;
        background-repeat:no-repeat;
        background: linear-gradient(202.94deg, rgba(113, 42, 140, 0) 8.16%, #712A8C 100%);

        .logo-image {
          position: absolute;
          top: 0;
          transform: translate(0%, 40%);

          img {
            //margin-top:-100px;
            width: 100%;
            opacity:.3;
          }
        }

        .name_of_team {
          //height: 40%;
          width: 100%;
          position: absolute;
          top: 15%;
          z-index: 99999999999999999999;

          p {
            font-style: normal;
            font-weight: bold;
            font-size: 3rem;
            font-family: $druk;
            letter-spacing: 2px;
            text-transform: uppercase;
            line-height: 40px;
            margin-right: 4px;
            z-index: 100;
            color: white;
            text-align: center;
          }
        }

        .player_two_pick {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10000;
          margin-top: -192px;
          transform:scale(1.2);
        }
      }
    }
  }
  .container-bet {
    border-radius: 16px 16px 0px 0px;
    height: auto;
    width: 100%;
    background-color: $black;
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 116px;

    .item-bet {
      height: auto;
      width: 100%;
      margin: 16px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;


      .form-bet {
        height: auto;
        width: 100%;
        color: white;
        padding: 8px;

        form {

          .category-wrapper-winner {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .category-item-team {

              .form-check-label {
                text-align: center;
                font-family: $druk;
                color: white;
                font-size: 1.5rem;
                letter-spacing: 1px;
                padding: 8px 16px;
                background-color: $gray;
              }
            }
          }

          .category-wrapper {
            height:200px;
            overflow:hidden;
          }

          legend, .range label{
            font-family: $druk;
            letter-spacing: 0;
            text-transform: uppercase;
            font-size: 3rem;
            -webkit-text-stroke: 1px $orange;
            color: transparent;
            margin-top:32px;
          }

          abbr {
            display:none;
          }

          .category-wrapper-open {
            height:auto;
          }

          .category-item {
            margin: 8px 0;
            background-color: $gray;
            border-radius: 8px;
          }

          .category-selector {
            position: absolute;
            transform: scale(0);
          }

          .category-selector + label {
            display: block;
            cursor: pointer;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 16px 8px;
            font-size: 16px;
            text-align: left;
            border-radius: 8px;
          }

          .category-selector:checked + label {
            border: 1px solid $orange;
          }

          .bet_total_points {
            position:relative;
          }

          .count {
            padding: 8px;
            font-family: $druk;
            background-color:$orange;
            box-shadow: $shiny-shadow;
            border-radius: 50%;
            color: $dark;
            letter-spacing: 1px;
            font-size: 1.2rem;
          }

          .sendbet {
            margin-top: 96px;
            width: 100%;
            height: 50px;
          }
        }
      }

      .sendbet {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark;
        font-family: $druk;
        font-size: 24px;
      }

      h1 {
        font-size: 3rem;
        text-align: center;
        -webkit-text-stroke: 1px $orange;
        color: transparent;
      }

      .winner-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        width: 100%;
        padding: 8px;

        .winner-team {
          height: 100%;
          width: 50%;
          background-color: $gray;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          color: white;

          h2 {
            text-align: center;
            margin: 0;
          }
        }


        .home-team {
          margin-right: 4px;
        }

        .visitor-team {
          margin-left: 4px;
        }
      }
    }
  }
}
