.container-home {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;

}
.btn-back{
  position: absolute;
  left: 20px;
  top: 38px;
  padding: 2px 6px;

    img{
    height: 30px;
    width: auto;
    }
}
.container-results{
  color: white;
  margin: 0 auto;
  width: 100%;

  .winning-bet{
    border: $orange 2px solid;
    opacity: 1 !important;
    box-shadow: $shiny-shadow;
  }
  .winning-bet-bar{
    background-color: $orange !important;
    border: $orange 2px solid;
    opacity: 1 !important;
    box-shadow: $shiny-shadow;
  }
  .logo-winner {
    opacity:1 !important;
    border-radius: 0 !important;
  }
  .logo-winning-team-game-result img:not(winning-bet){
    opacity:.5;
  }


  h1 {
      color: $black;
      -webkit-text-stroke: 1px $orange;
      font-family: $druk;
      letter-spacing: 2px;
      font-size: 3.5rem;
  }

  h2 {
      color: $orange;
      font-family: $druk;
      letter-spacing: 5px;
      opacity: .5;
      font-size: 5rem;
      font-weight: 700;
      z-index: -10;
      margin-bottom: -98px;
      letter-spacing: 10px;
      text-transform: uppercase;
      line-height: 0.9;
    }
  .star_img{
    margin-top: 45px;
    border-radius: 15%;
    width: 300px;
  }
  .winning-team-game-result{
    text-align: center;
    margin: 8px;
    padding: 8px;
    align-items: center;
    flex-direction: column;

      .logo-winning-team-game-result{
        display: flex;
        justify-content: space-around;
        align-items: center;

          img{
            border-radius: 50%;
          }
      }
  }

  .top-game-result{
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8px;
    padding: 8px;
    display: flex;

  }

  .total-points-game-result{
    text-align: center;
    position: relative;
    margin: 8px;
    padding: 8px;
  }

  .gap-points-game-result{
    text-align: center;
    position: relative;
    margin: 8px;
    padding: 8px;
  }

  .winning-player-game-result{
    text-align: center;
    margin: 8px;
    padding: 8px;
    margin-bottom: 30px;
    position: relative;
      .score-indicator{
        position: absolute;
        bottom: -17px;
        opacity: .4;
      }
      .player-results{
      border-radius: 50%;
      opacity: .4;
      }
      .winning-bet-scaleup{
        transform: scale(1.5);
      }
      .winning-score-indicator{
        opacity: 1 !important;
      }
      .btn-primary{
      display: inline-block;
      }
  }

  .player-name-onbet{
    margin-left: -235px;
    margin-bottom: -15px;
    opacity: .4;
    color: $light-gray;
  }
  .actual-bets{
    width: 90%;
    height:40px;
    margin: 16px;
    border-radius: 50px;
    background-color: $gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: .4;

      img{
        border-radius: 50%;
      }
  }
  .bar-container{
    width: 250px;
    height: 6px;
    display: flex;
    margin: auto;
  }
  .centered-pts1{
    width: 125px;
    height: 6px;
    background-color: $gray;
    border-radius: 6px;
    margin: auto;
  }
  .centered-pts2{
    width: 125px;
    height: 6px;
    background-color: $gray;
    border-radius: 6px;
    margin: auto;

  }
  .total-pts-result{
    background-color: $gray;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    left: 155px;
    bottom: -18px;
    display: flex;
    justify-content: center;
    color: $orange;
  }

  .bet-pts-1{
    position: absolute;
    left: 15px;
    bottom: -7px;
    opacity: .4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  .gap-pts-1{
    position: absolute;
    left: 17px;
    bottom: -7px;
    opacity: .4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .bet-pts-2{
    position: absolute;
    left: 303px;
    bottom: -7px;
    opacity: .4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .last-btn-of-the-page{
    margin-bottom: 80px;
  }

}
