
<div class="container_home">
  <h1>Stan's League</h1>

  <div class="users_match">
    <p class="match_date">date</p>
      <div class="logos_vs">
        <p>logo1</p>
        <p class="match_VS">VS</p>
        <p>logo1</p>
      </div>
    <p class="match_hour">heure</p>
    <div class="cta">
      <a href="" class="btn btn-primary">BET NOW</a>
    </div>
  </div>

  <div class="team_photos">
    <div class="team1_photo">
    </div>
    <div class="team2_photo">
    </div>
  </div>

  <div class="team_stats">
    <div class="team1_stats">
      <div class="games_record">
        <p>Record</p>
          <div class="win_loses">
            <p><strong>61</strong> wins
            <strong>28</strong> loses</p>
          </div>
      </div>

      <div class="games_rank">
        <p>Rank</p>
          <div class="team_rank">
            <p><strong>2</strong>nd West</p>
          </div>
      </div>

      <div class="games_total_points">
        <p>Score total</p>
          <div class="team_total_score">
            <p><strong>8653</strong>points</p>
          </div>
      </div>
    </div>

    <div class="team2_stats">
      <div class="games_record">
        <p>Record</p>
          <div class="win_loses">
            <p><strong>54</strong> wins
            <strong>33</strong> loses</p>
          </div>
      </div>

      <div class="games_rank">
        <p>Rank</p>
          <div class="team_rank">
            <p><strong>3</strong>nd West</p>
          </div>
      </div>

      <div class="games_total_points">
        <p>Score total</p>
          <div class="team_total_score">
            <p><strong>8624</strong>points</p>
          </div>
      </div>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
