nav {
  height: 110px;
  padding: 23px;
  position:fixed;
  bottom:0px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgb(33,33,47);
  background: linear-gradient(0deg, rgba(33,33,47,1) 0%, rgba(33,33,47,0.8449754901960784) 51%, rgba(33,33,47,0.6404936974789917) 84%, rgba(33,33,47,0) 100%);

  .nav-items {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: $black;
    box-shadow: 10px 24px 60px rgba(0, 0, 0, 0.8);


    .nav-item {
      display: inline;
      height: 100%;
      width: calc(100% / 5);
      background-color: $dark-gray;
      display:flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      padding: 0;
      margin: 0;


      .in-nav {
        height: 100%;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;

        .icon_nav {
          opacity: 0.30;
        }

        .icon_nav.active {
          opacity: 1;
        }
      }
    }

    .nav-item:nth-child(1) {
      border-radius: 16px 0 0 16px;
    }

    .nav-item:nth-child(3) {
      background-image: image-url("Intersect.svg");
      background-size: cover;
      background-position: center;
      position: relative;

      a {
        background-color: $orange;
        box-shadow: $shiny-shadow;
        padding: 12px;
        border-radius: 50%;
        box-shadow: $shiny-shadow;
        border: 1px solid $dark-gray;
        position: absolute;
        bottom: 50%;
      }
    }

    .nav-item:nth-child(5) {
      border-radius: 0 16px 16px 0;
    }
  }
}
