// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/home";

@import "pages/index";

/* Allows content to fill the viewport and go beyond the bottom */
.container-home {
  overflow:scroll;
  height:100vh;
}

.container-home::-webkit-scrollbar {
  display: none;
}

.container-bet::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $black;
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;

  .main::-webkit-scrollbar {
    display: none;
  }

  .main {
    overflow-y: auto;
    height: auto;
    margin: 0 auto;
    width: 100%;
  }

  .scrollbar {
    position: fixed;
    border-radius: 8px;
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
    opacity: 0;
    background: $orange;
    z-index: 999999999;
  }
}
